.speech {
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    color: black;
}
.direction {
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    color: black;
    background-color: lightskyblue;
}

.name{
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    color: black;

}
.direction:hover{
    background-color:rgb(14, 99, 71);
    color: rgb(213, 217, 221);
    text-shadow: 2px, 2px, 5px, rgb(48, 209, 155);
}

.GRE{
    font-style: italic;
    color: red;
}

.SCA{
    font-style: italic;
    color: blueviolet;
}

table { 
    border: dashed 3px;
    overflow: auto;
    font-size: large;
    text-align: center;
    border-collapse: separate;
}
table.collapsing { 
    border: solid 3px;
    border-collapse: collapse;
    outline: solid 2px rgb(54, 13, 13);
}
td, th {
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    font-size: medium;
    border: solid 1px;
    text-align: center;
    color: indigo;
}
tr {
    background-color:rgb(137, 211, 134) ;
}
tr:nth-child(even) {
    background-color: #c4b1b1;
}
:hover {
    text-shadow:3px 3px 6px green;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-shadow: 10px 5px 5px tomato;
}
ul.navbar-horizontal {
    /* remove these */
    list-style-type: none;
    margin: 0;
    padding: 0;
  
  }
  
ul.navbar-horizontal li {
    float:center;/* line up horizontally */
    color:#000;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
    background-color:blueviolet;
}
  
ul.navbar-horizontal a {
    display:block;
    padding:8px
}
  
  /* on hover change the link color*/
ul.navbar-horizontal a:hover {  
    background-color: #555;
    color:white;
  }


  .center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }
  
  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  
  .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }
  
  .up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }
  
  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
